$form-color: #495057; // Variable para el color del texto del formulario
$btn-bg-color: #007bff; // Variable para el color de fondo del botón
$btn-hover-color: darken($btn-bg-color, 10%); // Oscurece el color del botón en hover
$font-size: 1rem; // Tamaño de fuente para los select
$select-padding: 0.375rem 0.75rem; // Padding para los select

.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; // Añade un espacio entre los elementos del formulario

  .formSelect {
    font-size: $font-size;
    color: $form-color;
    padding: $select-padding;

    &:focus {
      border-color: $btn-bg-color; // Usa interpolación para aplicar color dinámico
    }
  }

  .btnPrimary {
    background-color: $btn-bg-color;
    border-color: darken($btn-bg-color, 15%);
    
    &:hover {
      background-color: $btn-hover-color;
    }
  }
}
